doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 @MehdiRah Salesforce Canvas App Demo
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on Heroku using node with Express, Jade and Stylus