doctype
html
  head
    title #{pageData[0].title} - Canvas App Demo
    script(type='text/javascript').
      var oKeys = JSON.parse(#{pageData[1].okeys});
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src='scripts/jshelper.js')
    script(src='https://eu3.salesforce.com/canvas/sdk/js/32.0/canvas-all.js')
  body
    header
      h1 @MehdiRah Salesforce Canvas App Demo
    .container
      .main-content
        div(class=".btn-group" role="group" aria-label="...")
          button(id="btngreen", type="button", class="btn btn-success").
            Green
          button(id="btnyellow", type="button", class="btn btn-warning").
            Yellow
          button(id="btnred", type="button", class="btn btn-danger").
            Red
        block content
    footer
      p Running on Heroku using node with Express, Jade and Stylus